<!DOCTYPE html>
<html lang = "en">

<body>

    <head>

        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity = "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin = "anonymous">

        <style>

            #footer {

                position: absolute;
                bottom: 0;
                width: 100%;
                height: 150px;
                   
            }

        </style>

    </head>

    <div id = "page-container">

        <div id = "content-wrap">

            <nav class = "navbar navbar-light bg-light">
                <span>
                    <a href = "/"><button type = "button" class = "btn btn-dark">Home</button></a>                
                </span>          
            </nav>

            {% block content %}
            {% endblock content %}

        </div>

    </div>

    <footer id = "footer">
        
        <div class="jumbotron">
        
            <h3>URL Shortener</h3>
            <h6>2023</h6>
            <h6>Github repository: <a href="https://github.com/kamilk00/URL_Shortener">https://github.com/kamilk00/URL_Shortener</a></h6>

        </div>

    </footer>

</body>

</html>